#contenedor{
    width: 1000px; height: 800px;
}

#logo{
    background-color: white; width: 200px; height: 100px; float: left; border: solid right;
}
#Nombre{
  background: linear-gradient(to top left,black, red); width: 500px; height: 1px; float: 
            left; text-align: center; font-size: 10; font-style: normal;
            
           
}

/*#subnombre{

    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:100px;
    border-radius:30px;
    background-color: white; width: 700px; height: 50px; float:
                left; text-align: center; font-size: 30;
}*/

.MenuPrincipal{
  overflow: hidden;
background-color: red;
border-radius: 30px;
}

.MenuPrincipal a{
  float: left;
font-size: 16px; 
color: white; /*Aquí puedes cambiar el color de letra de los links sin subopciones (Home y News) */
text-align: center;
padding: 7px 8px;
text-decoration: none;
}


nav{
    /*float: both;*/ background-color: orangered; text-decoration: none;
}

a{
    text-decoration: none; color: antiquewhite;
}

aside{
    background-color:orange; width: 200px; height: 400px; float: left;
}
header{
    width: 1000px; height: 50px;

}
section{
    width: 8000px; height: 400px;
}

footer{
    background-color: black; color: white; width: 1000px; height: 100px; float: left;
}