#contenedor{
    width: 1000px; height: 800px;
}

#logo{
    background-color: white; width: 200px; height: 100px; float: left; border: solid right;
   
}
#Nombre{
  background: linear-gradient(to top left,black, white); width: 800px; height: 100px; float: 
            left; text-align: center; font-size: 50; font-style: normal;
            
           
}

/*#subnombre{

    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:100px;
    border-radius:30px;
    background-color: white; width: 700px; height: 50px; float:
                left; text-align: center; font-size: 30;
}*/
.MenuPrincipal{
  overflow: hidden;
background-color: orangered;
border-radius: 30px;
}

.MenuPrincipal a{
  float: left;
font-size: 16px; 
color: white; /*Aquí puedes cambiar el color de letra de los links sin subopciones (Home y News) */
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


nav{
    float: both; background-color: orangered; text-decoration: none;
}

a{
    text-decoration: none; color: antiquewhite;
}

aside{
    background-color:orange; width: 200px; height: 400px; float: left;
}
header{
    width: 1000px; height: 100px;

}
section{
    width: 900px; height: 400px;
}

#maps{

  padding: 25px;
  margin: 20px;
}

#section_somos{
  background-color: rgb(0, 0, 0); width: 800px; height: 400px; float: left; text-align: center;
}
#p_somos{
  text-align: left;color:white;font-size: 30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section_ubi{
  background-color: rgb(255, 255, 255); width: 800px; height: 400px; float: right; text-align: center;
}

#section_servicios{
  background-color: rgb(255, 255, 255); width: 800px; height: 400px; float: right; text-align: left;
}

#NuevosLanzamientos{
  width: 300px;height: 400px; float:left;
}

.secciones_catalogo{
  width: 200px;height: 400px; float: left;
}
footer{
    background-color: black; color: white; width: 1000px; height: 100px; float: left;
}